Flask==3.0.2
Werkzeug==3.0.1
pandas==2.2.1
jupyter
requests
fuzzywuzzy==0.18.0
openpyxl
scikit-learn
numpy
vellum-ai
matplotlib
load_dotenv
langchain
google-api-python-client
openai
python-Levenshtein==0.25.0  # Optional but recommended for better performance
